    /* Material Design styling */
    window {
        background-color: #1e1e1e; 
        color: #dfe6ec;
        font-family: 'JetBrains Mono', monospace;
    }

    entry {
        color: #dfe6ec;
        min-height: 30px; 
        padding: 0 5px;   
        margin: 5px;      
        font-family: 'JetBrains Mono', monospace;
        border-radius: 15px;
    }
    
    button {
        color: #dfe6ec;
        min-height: 30px; 
        padding: 5px;     
        margin: 5px;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 15px;
    }

    entry{
        font-weight: 600;
    }

    button:hover {
        background-color: #0b2e42; 
    }

    combobox popover contents scrolledwindow viewport stack box modelbutton{
        font-family: 'JetBrains Mono', monospace;
    }

    combobox popover contents scrolledwindow viewport stack box modelbutton:hover{
        background-color: #0b2e42; 
    }

    treeview {
        background-color: #1e1e1e; 
        border-radius: 4px;
        font-family: 'JetBrains Mono', monospace;
    }

    treeview:hover {
        background-color: #1e1e1e; 
    }

    treeview:selected {
        border-radius: 0px;
        background-color: #2c9fb5;
        color: black;
    }

    treeview column-header {
        padding-left: 100px;
        padding-right: 10px;
    }


    scrolledwindow {
        background-color: #1e1e1e; 
        border: 2px solid #2c9fb5;
        font-weight: 350;
        border-radius: 6px;
        font-family: 'JetBrains Mono', monospace;
    }

    calendar {
        background-color: #1e1e1e; /* Change this to your desired color */
    }