    /* Material Design styling */

    :root {
        --border-radius: 10px;
    }

    window {
        background-color: #1e1e1e; 
        color: #dfe6ec;
        font-family: 'JetBrains Mono', monospace;
    }

    entry {
        color: #dfe6ec;
        min-height: 22px;
        padding: 0 3px;
        margin: 2px;
        font-family: 'JetBrains Mono', monospace;
        border-radius: var(--border-radius);
    }
    
    button {
        color: #dfe6ec;
        min-height: 22px;
        padding: 3px;
        margin: 2px;
        font-family: 'JetBrains Mono', monospace;
        border-radius: var(--border-radius);
    }

    combobox {
        min-height: 22px;
        padding: 0 3px;
        margin: 2px;
        font-family: 'JetBrains Mono', monospace;
        border-radius: var(--border-radius);
    }
    
    entry{
        font-weight: 600;
    }

    button:hover {
        background-color: #0b2e42; 
    }

    combobox popover contents scrolledwindow viewport stack box modelbutton{
        font-family: 'JetBrains Mono', monospace;
    }

    combobox popover contents scrolledwindow viewport stack box modelbutton:hover{
        background-color: #0b2e42; 
    }

    combobox popover contents { 
        transform:translateY(-10px);
        background: none;
        border: none;
        box-shadow: none;
    }
    
    columnview{
        background-color: #1e1e1e; 
        border-radius: var(--border-radius);
    }

    columnview listview{
        font-weight: 400;
    }

    columnview listview row:hover {
        background-color: #0b2e42; 
    }

    scrolledwindow {
        background-color: #1e1e1e; 
        border: 2px solid #2c9fb5;
        font-weight: 350;
        border-radius: calc(var(--border-radius) + 4px);
        font-family: 'JetBrains Mono', monospace;
    }

    calendar {
        background-color: #1e1e1e; 
    }

    spinbutton {
        border-radius: var(--border-radius);
        min-height: 22px;
        padding: 0 3px;
        margin: 2px;
        font-family: 'JetBrains Mono', monospace;
    }

    spinbutton:hover {
        background-color: #0b2e42;
    }

    .collapsed-parent {
        text-decoration: underline;
    }